.info-container{
    border: 1px solid #757575;
    background-color: #F5F5F5;
    width: 400px;
}

#info_title {
    font-size: 22px;
    background-color: #90CAF9;
    color: #ffffff;
    text-align: center;
    padding:0px;
    margin-top: 0px;
    margin-bottom: 1px;
}

ul.zipProfile h5{
    text-align: center;
}

ul.zipProfile li{
    text-align: left;
    font-weight: bold;
    margin-left: 5px;
    padding-left: 5px;
}
.switchdemoBasicUsage .inset {
    padding-left: 25px;
    padding-top: 25px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 20px;
    top:11px;
    /*right:-1210px;*/
    z-index:600;
}

.marginTextPosition{
    position: absolute;
    top:15px;
    right:15px;
    z-index:600;
}

.marginErrorText{
    font-size:14px;
}


/*.marginTextPosition{
    position: fixed;
    top:100px;
    right:-1200px;
    z-index:600;
}*/

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(11px);
    -ms-transform: translateX(11px);
    transform: translateX(11px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.marginError{
    position: absolute;
    top:90px;
    right:8px;
}

.marginErrorIncome{
    position: absolute;
    top:366px;
    right:8px;
}

.marginErrorEducation{
    position: absolute;
    top:366px;
    right:8px;
}

.marginErrorHealth{
    position: absolute;
    top:366px;
    right:8px;
}

.workdevValue{
    position: absolute;
    right:8px;
}

.fincapValue{
    position: absolute;
    right:8px;
}

.totalcapValue{
    position: absolute;
    right:8px;
}
.afterschoolValue{
    position: absolute;
    right:8px;
}
.collegecareerValue{
    position: absolute;
    right:8px;
}
.earlychildhoodValue{
    position: absolute;
    right:8px;
}
.mathscienceValue{
    position: absolute;
    right:8px;
}
.parentmentorsValue{
    position: absolute;
    right:8px;
}
.mentalhealthValue{
    position: absolute;
    right:8px;
}
.physicalhealthValue{
    position: absolute;
    right:8px;
}
.famviolValue{
    position: absolute;
    right:8px;
}
.obesityValue{
    position: absolute;
    right:8px;
}
.pcValue{
    position: absolute;
    right:8px;
}
.saValue{
    position: absolute;
    right:8px;
}

#tooltip{
    display: inline;
    position: relative;
}

#tooltip:hover:after {
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    font-size: 12px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    content: attr(data-title);
    left: -98px;
    padding: 5px 15px;
    position: absolute;
    z-index: 1500;
    width: 155px;
}
#tooltip:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    color: #fff;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 1500;
}

.zipcodeprofile{
    position: absolute;
    top:15px;
    right:10px;
}

.selectIncomeIndicators{
    position: absolute;
    top:580px;
    right:800px;
}

.selectEducationIndicators{
    position: absolute;
    top:580px;
    right:800px;
}

.selectHealthIndicators{
    position: absolute;
    top:580px;
    right:800px;
}

